<!-- video-gallery.component.html -->
<div class="container">
    <div class="row">
      <div *ngFor="let video of videoList" class="col-md-4 mb-4">
        <div class="card">
          <video class="card-img-top" controls>
            <source [src]="video.url" type="video/mp4">
            Your browser does not support the video tag.
          </video>
          <div class="card-body">
            <p class="card-text">{{ video.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>