<div class="container mt-4">
  <h2>Display Notes</h2>
  <button class="btn btn-primary mb-4" (click)="downloadNotes()">Download Notes</button>
  <ul class="list-group mt-4">
    <li *ngFor="let note of notes; let i = index" class="list-group-item">
      <h5 style="color: blue;">Title: {{ note.title }}</h5>
      <h6>Subtitle: {{ note.subtitle }}</h6>
      <p><strong>Date:</strong> {{ note.date | date:'short' }}</p>
      <p><strong>Details:</strong> {{ note.details }}</p>
      <p><strong>Creator:</strong> {{ note.creator }}</p>
      <button class="btn btn-danger" (click)="removeNote(i)">Remove</button>
    </li>
  </ul>
</div>